/*css*/

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    line-height: 1.7;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
    min-height: 100vh;
}

.page {
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    opacity: 0;
    transform: translateX(-200%);
}

.page.active {
    opacity: 1;
    transform: translateX(0);
}

#add .photo-button {
    display: block;
}

#add .photo-form {
    display: none;
}

#add.hasPhoto .photo-button {
    display: none;
}

#add.hasPhoto .photo-form {
    display: block;
}

.page header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "btn-left title btn-right";
    height: 1.7rem;
    background-color: #ddd;
    box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.64);
}

.page header h1 {
    font-weight: 300;
    font-size: 1rem;
    color: #333;
    text-align: center;
    grid-area: title;
}

#imgAdd{
    align-content: center;
}

#rating{
    text-align: center;
}

#home header button {
    font-weight: 300;
    color: #007aff;
    font-size: 1rem;
    grid-area: btn-right;
}

#details header button,
#add header button {
    font-weight: 300;
    color: #007aff;
    font-size: 1rem;
    grid-area: btn-left;
}

#details.page.active {
    background-color: #9099A2;
}

.rating {
    align-items: center;
}

#btnTakePhoto{
    width:200px;
    height: 200px;
    background-color: #87ceeb;
}

.photo-button {
    text-align: center;
    position: relative;
    margin-top: 55%;
}

#btnSave{
    align-items: center;
}

.fas.fa-camera.fa-9x::before {
    text-align: center;
    top: 50%;
    margin-top: 50%;
    background-color:#87ceeb;
}

#home {
    background-color: #9099A2;
}

#add.page.active {
    background-color: #9099A2;
}


.rating:not(:checked)>input {
    position: absolute;
    top: -9999px;
    clip: rect(0, 0, 0, 0);
}

.rating:not(:checked)>label {
    float: right;
    width: 1em;
    padding: 0 .1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 200%;
    line-height: 1.2;
    color: #ddd;
    text-shadow: 1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0, 0, 0, .5);
}

.rating:not(:checked)>label:before {
    content: '★ ';
}

.rating>input:checked~label {
    color: #f70;
    text-shadow: 1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0, 0, 0, .5);
}

.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
    color: gold;
    text-shadow: 1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0, 0, 0, .5);
}

.rating>input:checked+label:hover,
.rating>input:checked+label:hover~label,
.rating>input:checked~label:hover,
.rating>input:checked~label:hover~label,
.rating>label:hover~input:checked~label {
    color: #ea0;
    text-shadow: 1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0, 0, 0, .5);
}

.rating>label:active {
    position: relative;
    top: 2px;
    left: 2px;
}

/* COLOURS */
/* Lavender #6D7993 */
/* Dusty #96858F */
/* Paper #D5D5D5 */
/* Overcast #9099A2 */